@media screen and (min-width: 0em) and (max-width: 37.5em) {
html {
    align-items: center;
    margin: auto;
}
* {
    box-sizing: border-box;
}
body {
    display:grid;
    grid-template-areas: "head"
                         "main"
                         "topmenu"
                         "foot";
align-items: center;
justify-content: center;
    
}
blockquote {
    border: 1px solid black;
    padding:2%;
}
header > h1 {
    font-size:250%;
}
.header {
    grid-area:head;
    padding:3%;
    border-bottom: 1px solid black;
    text-align: center;
}
.main{
    width:95%;
    grid-area:main;
    display:grid;
    grid-gap:2%;
    align-items: center;
    justify-content: center;
    margin:auto;
    grid-template-areas: "fraedi"
                         "fraedi2"
                         "gerd";
}

.topmenu{
display:grid;
    grid-area:topmenu;
    list-style-type:none;
    grid-template-rows: auto auto auto auto;
padding-top:12%;
overflow:hidden;
text-align: center;
}
.footer{
    grid-area:foot;
    display:block;
    border-top:1px black solid;
    text-align: center;
}
.art1 {
    background-color: lightgreen;
    grid-area: fraedi;
}
.art2 {
    display:none;
}
.as1 {
    background-color: lightblue;
    grid-area: gerd;
}
.as2 {
    background-color:lightpink;
    grid-area: fraedi2;
}
li a {
    background-color:lightgray;
    display:block;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    padding: 1% 10%;
}
}
@media screen and (min-width: 37.5em) and (max-width: 48em){
    html {
        align-items: center;
        margin: auto;
        width:100%;
    }
    * {
        box-sizing: border-box;
    }
    body {
        display:grid;
        grid-template-areas:"topmenu" 
                            "head"
                             "main"
                             "foot";
    align-items: center;
    justify-content: center;
        
    }
    blockquote {
        border: 1px solid black;
        padding:2%;
    }
    .header {
        grid-area:head;
        display:block;
        border-bottom:1px solid black;
        border-top:1px solid black;
        padding:3%;
        text-align: center;
    }
    .main{
        width:95%;
        grid-area:main;
        grid-column-gap: 2%;
        display:grid;
        align-items: center;
        justify-content: center;
        margin:auto;
        grid-template-areas:"fraedi fraedi"
                            "fraedi2 gerd";
    }
    .topnav {
        background-color:lightgrey;
        text-align:center;
        display:inline-block;
        text-decoration: none;
    }
    .topmenu{
    display:grid;
        grid-area:topmenu;
        list-style-type: none;
        grid-template-columns: auto auto auto auto;
    text-align: center;
    text-decoration: none;
    
    }
    .footer{
        grid-area:foot;
        width: auto;
        text-align: center;
        border-top:1px solid black;
    }
    .art1 {
        background-color: lightgreen;
        border-bottom:1px solid black;
        grid-area: fraedi;
    }
    .art2 {
        display:none;
    }
    .as1 {
        background-color: lightblue;
        grid-area: gerd;
        height:100%;
    }
    .as2 {
        background-color:lightpink;
        grid-area: fraedi2;
    }
}
@media screen and (min-width: 48em) and (max-width: 60em){
    html {
        align-items: center;
        margin: auto;
        width:100%;
    }
    * {
        box-sizing: border-box;
    }
    body {
        display:grid;
        grid-template-areas:"topmenu" 
                            "head"
                             "main"
                             "foot";
    align-items: center;
    justify-content: center;
        
    }
    blockquote {
        border: 1px solid black;
        padding:2%;
    }
    .header {
        grid-area:head;
        display:block;
        border-bottom:1px solid black;
        border-top:1px solid black;
        padding:3%;
        text-align: center;
    }
    .main{
        width:95%;
        grid-area:main;
        height:max-content;
        grid-column-gap: 2%;
        display:grid;
        align-items: center;
        justify-content: center;
        margin:auto;
        grid-template-areas:"fraedi fraedi2"
                            "fraedi gerd";
    }
    .topnav {
        background-color:lightgrey;
        text-align:center;
        display:inline-block;
        text-decoration: none;
    }
    .topmenu{
    display:grid;
        grid-area:topmenu;
        list-style-type: none;
        grid-template-columns: auto auto auto auto;
    text-align: center;
    text-decoration: none;
    
    }
    .footer{
        display:grid;
        grid-area:foot;
        grid-template-columns: auto auto auto;
        width: auto;
        text-align: center;
        border-top:1px solid black;
    }
    .art1 {
        display:inline;
        background-color: lightgreen;
        padding-left: 7%;
        line-height:1.5;
        padding-right: 7%;
        height:100%;
        grid-area: fraedi;
    }
    .art2 {
        display:none;
    }
    .as1 {
        background-color: lightblue;
        border-left:1px solid black;
        grid-area: gerd;
        padding:3%;
        height:100%;
    }
    .as2 {
        background-color:lightpink;
        padding:3%;
        border-left:1px solid black;
        grid-area: fraedi2;
    }
}
@media screen and (min-width: 60em){
    html {
        align-items: center;
        margin: auto;
        width:100%;
    }
    * {
        box-sizing: border-box;
    }
    body {
        display:grid;
        grid-template-areas:"topmenu" 
                            "head"
                             "main"
                             "main"
                             "foot";
    align-items: center;
    justify-content: center;
        
    }
    blockquote {
        border: 1px solid black;
        padding:2%;
    }
    .header {
        grid-area:head;
        display:block;
        border:1px solid black;
        padding:3%;
        text-align: center;
    }
    .main{
        height:150%;
        grid-area:main;
        border-right:1px solid black;
        border-left:1px solid black;
        height:max-content;
        grid-column-gap: 2%;
        display:grid;
        align-items: center;
        justify-content: center;
        margin:auto;
        grid-template-areas:"fraedi fraedi2"
                            "fraedi gerd";
    }
    .topnav {
        background-color:lightgrey;
        text-align:center;
        border:1px black solid;
        border-bottom:0;
        display:inline-block;
        text-decoration: none;
    }
    .topmenu{
    display:grid;
        grid-area:topmenu;
        list-style-type: none;
        grid-template-columns: auto auto auto auto;
    text-align: center;
    text-decoration: none;
    
    }
    .footer{
        display:grid;
        grid-area:foot;
        grid-template-columns: auto auto auto;
        width: auto;
        text-align: center;
        border:1px solid black;
    }
    .art1 {
        display:inline;
        background-color: lightgreen;
        padding-left: 7%;
        line-height:1.5;
        padding-right: 7%;
        height:100%;
        grid-area: fraedi;
    }
    .art2 {
        display:none;
    }
    .as1 {
        background-color: lightblue;
        border-left:1px solid black;
        grid-area: gerd;
        padding:3%;
        height:100%;
    }
    .as2 {
        background-color:lightpink;
        padding:3%;
        border-left:1px solid black;
        grid-area: fraedi2;
    }
}