html {
  width: 75%;
  align-items: center;
  margin:auto;
}
.col-2 {
display: grid;
grid-template-columns: auto auto;
grid-area: auto;
grid-gap: 40px;
border: 1px black solid;
padding-top: 4%;
padding-bottom: 4%;
padding-left: 2%;
padding-right: 2%;
}
.col-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px black solid;
  grid-gap: 40px;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
}
.col-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border: 1px black solid;
  grid-gap: 40px;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
}