 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
	 margin: 0 auto;
	 font-family: sans-serif;
}

footer p {
  text-align: center;
}

.gulur {
	background-color: yellow;
	border: solid blue 1px; 
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
.raudur {
	background-color: red; 
	border: solid blue 1px; 
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
.graenn {
	background-color: lime;
	border: solid blue 1px; 
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
.blar {
	background-color: cyan; 
	border: solid blue 1px; 
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
.box {
	display:flex;
	font-size: 1.2em;
	justify-content: center;
	align-items: center;
	height: 5em;
}

.row {
	display: flex;
	justify-content: center;
	flex-flow: row-reverse;
	padding:10px;
}
.col {
	display:flex;
	flex-flow:column-reverse;
	margin:auto;
}
.row p {
	width:240px;
}