.displayblock {
    display:block;
    border: 3px dashed green;
    padding: 1em;
    margin: 1em;
}
.inline {
    color:orange;
    display:inline;
    padding: 1em;
    margin: 1em;
    border:3px dashed blue;
}
ul.a {
    list-style-position: outside;
    display:block;
    padding: 1em;
    margin: 1em;
    border: 3px dashed green;
}
.inlineblock {
    display:inline-block;
    padding: 1em;
    margin: 1em;
    border: 3px dashed red;
}