.group {
    display:flex;
    float:auto;
    
}
.box {
    display:flexbox;
    width:30%;
    height:fit-content;
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
}
.box2 {
    display:flexbox;
    width:61.2%;
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
}
.bigL {
font-size:72px;
float:left;
padding:10px;
margin:10px;
}
.athugid {
background-color: yellow;
text-align:center;
margin:10px;
}
.imgR {
float:right;
padding: 10px;
}
.verkefni {
    float:right;
    border: 1px solid lightgray;
    padding-left: 90%;
    background-color: lightgray;
}